:root {
  --theme-one: #4f1916; /*brown*/
  --theme-two:  #6bb7ca; /*light-blue*/
  --theme-three: #43760f; /*yellow-green*/
  --theme-four:  #01112a; /*darkblue*/
}
/* .footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
} */

.brandImage{
  background-color: var(--theme-two);
  padding: 0.1em !important;
  width:10rem !important;
  height: 10rem !important;
  border-radius: 50%;

}
.card nav .breadcrumb{
  padding: 0  !important;
}
.card .media-heading{
  font-weight: 100 !important;
  font-size: 1.1em !important;
  text-align: left !important;
    display: -webkit-box !important;
    max-width: 95% !important;
    -webkit-line-clamp: 3 !important;
    -webkit-box-orient: vertical !important;
    overflow: hidden !important;

}
@media (max-width: 575.98px) {
    .container {
        min-width: 100% !important;
        padding: 0 !important;
    }
}
.bg-theme-one{
  background-color: var(--theme-one);
  background: var(--theme-one);
}
.bg-theme-two{
  background-color: var(--theme-two);
  background: var(--theme-two);
}
.bg-theme-three{
  background-color: var(--theme-three);
  background: var(--theme-three);
}
.bg-theme-four{
  background-color: var(--theme-four);
  background: var(--theme-four);
}
.jumbotron.home{
  background: var(--theme-two);
  color: var(--theme-four);
}
.jumbotron.create{
  background: var(--theme-three);
  color:white;
}

.border-theme-one{
  border-color: var(--theme-one);
}
.border-theme-two{
  border-color: var(--theme-two);
}
.border-theme-three{
  border-color: var(--theme-three);
}
.border-theme-four{
  border-color: var(--theme-four);
}

.text-theme-one{
  color: var(--theme-one);
}
.text-theme-two{
  color: var(--theme-two);
}
.text-theme-three{
  color: var(--theme-three);
}
.text-theme-four{
  color: var(--theme-four);
}
.page-link.category-link{
  color: var(--theme-one);
}

.poll-detail{
  border-width: thick;
  border: 1px solid var(--theme-two);
  border-radius: 1rem;
}

.App {
  text-align: center;
}
.choice {
  width:90%;
  margin: auto;
  display: flex;
  flex-direction: row;
}
a.category-link.active, a.category-link.active *{
  background: lightblue;
  border-color: var(--theme-one);
}
.choice > div:nth-child(2){
  width: 100%;
  border-radius: 1.5em;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
